body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  min-height: 100vh;
}

.App {
  min-height: 100vh;
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comments-list {
  margin-top: 16px;
  margin-left: 16px;
}

.comment {
  margin: 8px;
}

.replies-list {
  margin: 8px;
}